.container {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 225px 2fr;
  transition: 0.3s ease-out;
}

.container.collapsed {
  grid-template-columns: 64px 2fr;
}

.sideBar {
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: var(--blueBackground);
}

.right-container {
  display: grid;
  grid-template-rows: 69px 1fr;
  flex-grow: 1;
  overflow-y: auto;
  height: 100vh;
}
