.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 225px 2fr;
  transition: 0.3s ease-out;
}

.container.collapsed {
  grid-template-columns: 64px 2fr;
}

.right-container {
  display: grid;
  grid-template-rows: 69px 1fr;
}

