body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --darkText: #000000;
  --lightText: #939393;
  --primaryColor: #2663EB;
  --white: #FFFFFF;
  --successColor: #5ABA42;
  --strokeDark: #BEBEBE;
  --strokeLight: #E5E5E5;
  --greyBackground: #F4F4F4;
  --failureColor: #FF4F4F;
  --blueBackground: #EDF3FF;
  --warningColor: #FF9202;
  --secondaryColor: #1DACFF;
}